<script lang="ts" setup>
import { ref } from "vue";
const Inputnum = ref<number>(0);
</script>

<template>
  <v-container>
    <v-row
      ><v-text-field
        v-model.number="Inputnum"
        label="Please input Number"
        :rules="[(v) => !!v || 'Number is not empty!!']"
      ></v-text-field>
    </v-row>
    <v-row
      ><v-col v-for="n in Inputnum" :key="n" cols="1"> {{ n }}</v-col></v-row
    >
  </v-container>
</template>
